<div class="container-fluid">
    <div class="row main-app">
        <div class="col-md-2 targets">
            {{#each groups as |group|}}
                <h2>{{group.name}}</h2>
                <h3>Channels </h3>
                <ul class="nav nav-pills">
                {{#each group.ordered_channels as |channel|}}
                    {{#link-to 'group.channel' group.id channel.id tagName="li"}}
                        <a>{{channel.name}} </a>
                    {{/link-to}}
                {{/each}}
                </ul>
            {{/each}}
        </div>
        <div class="col-md-10 targets-wrapper">
            {{outlet}}
        </div>
    </div>
</div>
